:root {
  //colors
  --bg-color: #F2F2F2;
  --color-primary: #4325a5;
  --color-gray: #bdbdbd;
  --color-lightgray: #eeeeee;
  --shadow-light: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

  // fonts
  --body-text: 'Poppins', sans-serif;
  --header-text: 'Rubik', sans-serif;
}