:root {
  //colors
  --bg-color: #F2F2F2;
  --color-primary: #4325a5;
  --color-gray: #bdbdbd;
  --color-lightgray: #eeeeee;
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  // fonts
  --body-text: 'Poppins', sans-serif;
  --header-text: 'Rubik', sans-serif;
}

// mixins
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 500px) { @content; }
  }
 
  @else if $class == sm {
    @media (max-width: 600px) { @content; }
  }
 
  @else if $class == md {
    @media (max-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (max-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}