:root {
  //colors
  --bg-color: #F2F2F2;
  --color-primary: rgb(7, 88, 255);
  --color-primary-light: rgba(7, 88, 255, .05);
  --color-gray: #bdbdbd;
  --color-lightgray: #eeeeee;
  --shadow-base: 0 5px 25px -4px rgba(0, 0, 0, 0.05);
  --color-text-black: 44, 62, 80;

  // fonts
  --body-text: 'Poppins', sans-serif;
  --header-text: 'Rubik', sans-serif;
}

// mixins
@mixin breakpoint($class) {
  @if $class==xs {
    @media (max-width: 500px) {
      @content;
    }
  }

  @else if $class==sm {
    @media (max-width: 600px) {
      @content;
    }
  }

  @else if $class==md {
    @media (max-width: 992px) {
      @content;
    }
  }

  @else if $class==lg {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}