body {
  background-color: var(--bg-color);
  font-family: var(--body-text);
}

input,
button {
  &:focus {
    transform: translateY(-3px);
    outline: none;
  }
}

.active {
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
}