body {
  background-color: var(--bg-color);
  font-family: var(--body-text);
}

input,
button {
  &:focus {
    outline: 2px dotted var(--color-primary);
  }
}

.active {
  background: none;
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
}