body {
  background-color: var(--bg-color);
  font-family: var(--body-text);
}

input,
button {
  transition: all .2s;

  &:focus {
    outline: none;
    transform: translateY(-3px);
    box-shadow: var(--shadow-base);
    color: rgba(var(--color-text-black), 1);
    background-color: #fff;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.🥚 {
  position: absolute;
  top: 0;
  padding: 200px;
  // width: 500px;
  // height: auto;
}